.home-container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    gap:5px;
}
.title-container{
    height:8vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    border: 1px solid #eff1f6;
    border-radius: 0.5rem;
    margin-top: 7vh;
    background-color: #1f2229;
}
.title-container input{
    height: 50%;
    width: 60%;
    border-radius: 0.5rem;
    border: none;
    padding-left: 12px;
}
.title-container button{
    height: 50%;
    width: 17%;
    background-color: #22324f;
    color: #eff1f6;
    border-radius: 0.5rem;
}
.title-container button:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.content-container{
    margin-top: 3vh;
    width: 40vw;
    height: 30vh;
}
.content-container textarea{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 15px 0 0 15px;
    resize: none;
}
.content-container textarea::-webkit-scrollbar {
    width: 6px;
}

.content-container textarea::-webkit-scrollbar-thumb {
    background: #c7cedb;
    border-radius: 10px;
}
input:focus,
textarea:focus {
    outline: none;
}

/* Media Queries*/
/* Mobiles*/
@media (max-width: 480px) {
    .title-container {
        width: 90vw;
        height: auto;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        margin-top: 5vh;
    }

    .title-container input {
        width: 100%;
        height: 2.5rem;
    }

    .title-container button {
        width: 100%;
        height: 2.5rem;
    }

    .content-container {
        width: 90vw;
        height: 35vh;
    }
}

/*Tablets*/
@media (max-width: 768px) {
    .title-container {
        width: 70vw;
    }

    .content-container {
        width: 70vw;
        height: 35vh;
    }
}
